:root { 
--gray_50_01:#fefafa; 
--gray_900_ad:#1e1515ad; 
--gray_50_68:#fffdf968; 
--gray_50_02:#fafafa; 
--black_900_2b:#0201012b; 
--blue_700:#2270e2; 
--gray_800:#4d4d4d; 
--gray_900:#212121; 
--gray_200:#f0ebeb; 
--gray_50:#fffdf9; 
--green_400:#49a078; 
--deep_orange_600_2b:#ec5d2a2b; 
--white_A700:#ffffff; 
}